@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.note_container {
    /* honeycomb alignment */
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1500px; /* 350px : 1500px */
    margin: 0 auto;
    padding: 0;
    flex-grow: 1;
    transform: translateY(80px);
  }

  .note, .note_hidden {
    /* honeycomb alignment */
    /* 350px */
    /*
    -webkit-box-flex: 0;
    flex: 0 1 350px;
    max-width: 350px;
    height: 200px;
    margin: 90px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1; */

    /* 450 px */
    -webkit-box-flex: 0;
    flex: 0 1 450px;
    max-width: 450px;
    height: 250px;
    margin: 110px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    /* decor */
    font-family: "Poppins";
    font-size: 1.5rem;
    transition: 175ms;
    transition-timing-function: ease-in-out;
  }

  .note__image {
    object-fit: cover;
    object-position: center;
    background: rgba(255,255,255,0.04);
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
  }

  .note:nth-child(3n) .note__image {
    background: rgba(80, 255, 80, 0.12);
  }
  .note:nth-child(3n-1) .note__image {
    background: rgba(40, 160, 40, 0.12);
  }

  .note::before {
    transform: scale(0.95);
    background: linear-gradient(145deg, rgba(20, 20, 22, 0.01) 0%, rgba(25, 25, 28, 0.07) 100%);
    backdrop-filter: blur(45px);
  }

  .note:nth-child(3n):before {
    background: linear-gradient(145deg, rgba(20, 80, 18, 0.03) 0%, rgba(25, 25, 28, 0.21) 100%);
  }

  .note__body {
    white-space: pre-wrap;
    height: 100%;
    min-height: 12rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    color: #fff;
    font-size: 1em;
    transition: opacity 350ms;
  }
  .note__body > small {
    font-weight: 300;
    margin-top: 0.25em;
  }
  .note::before,
  .note::after {
    content: '';
  }
  .note::before,
  .note::after,
  .note__image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
  }

  .note__title {
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.75em;
    text-transform: uppercase;
  }

  .note__footer {
    display: inline-flex;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .note:hover
  .note__footer {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  .note__footer_left {
    color: rgba(233, 233, 235, 0.5);
    transform: rotate(30deg) translateX(-25%) translateY(100%);
  }
  .note__footer_right {
    color: rgba(233, 233, 235, 0.5);
    transform: rotate(-30deg) translateX(25%) translateY(100%);
  }

/* NOTE FORM */

.note__textarea {
  width: 100%;
  height: 100%;
  resize: none;
  font-family: "Poppins";
  font-size: 1em;
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  outline: none;
}

.note__button {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

/* HOVER ANIMATION */

.note:hover
{
  transform: scale(1.05);
  transition: transform 150ms, opacity 200ms;
  transition-timing-function: ease-out;
}




/* RESIZE FOR DIFF SCREEN SIZES */

/* 350px */
/*
@media (max-width: 574px) 
{
  .note 
  {
    margin: 81.25px 25px;
  }
}

@media (max-width: 771px){
    .note {
        flex: 0 1 250px;
        max-width: 250px;
        height: 137.5px;
        margin: 65.4px 12.5px 25px;
        font-size: 1em
    }
}


@media (min-width: 550px) and (max-width: 1150px) 
{
  .note:nth-child(3n) 
  {
    margin-right: calc(50% - 175px);
    margin-left: calc(50% - 175px);
  }

  .note_hidden:nth-child(3n + 5) 
  {
    display: block;
  }
}


@media (min-width: 1000px) and (max-width: 1550px) {
 
  .note:nth-child(5n + 4) 
  {
    margin-left: calc(50% - 375px);
  }

  .note:nth-child(5n + 5) 
  {
    margin-right: calc(50% - 375px);
  }

  .note_hidden:nth-child(5n), 
  .note_hidden:nth-child(5n + 3) 
  {
    display: block;
  }
}
@media (min-width: 1550px) 
{
  .note:nth-child(7n + 5) {
    margin-left: calc(50% - 666px);
  }

  .note:nth-child(7n + 7), 
  .note:nth-child(7n + 5):nth-last-child(2) 
  {
    margin-right: calc(50% - 665px);
  }

  .note_hidden:nth-child(7n + 7), 
  .note_hidden:nth-child(7n + 9), 
  .note_hidden:nth-child(7n + 11) 
  {
    display: block;
  }
}
*/

/* 450px */
@media (max-width: 828px) 
{
  .note {
    flex: 0 1 300px;
    max-width: 300px;
    height: 150px;
    margin: 65.4px 12.5px 25px;
    font-size: .85em
}
  .note__body {
    min-height: 8rem;
  }
}

@media (min-width: 828px) and (max-width: 1026px){
    .note {
        flex: 0 1 350px;
        max-width: 350px;
        height: 175px;
        margin: 65.4px 12.5px 25px;
        font-size: 1em
    }
}


@media (min-width: 500px) and (max-width: 1505px) 
{
  .note:nth-child(3n) 
  {
    margin-right: calc(50% - 250px);
    margin-left: calc(50% - 250px);
  }

  .note_hidden:nth-child(3n + 5) 
  {
    display: block;
  }
}


@media (min-width: 1505px){
 
  .note:nth-child(5n + 4) 
  {
    margin-left: calc(50% - 510px);
  }

  .note:nth-child(5n + 5) 
  {
    margin-right: calc(50% - 510px);
  }

  .note_hidden:nth-child(5n), 
  .note_hidden:nth-child(5n + 3) 
  {
    display: block;
  }
}